data*/keystore/ks-password
data*/keystore/appkeyAndroidAPS-keystore.jks
data*/output/*.apk
data*/output/*.json
data*/onedrive
data*/builds
data*/keystore.zip

data-old.zip
data-autotune*
data-LH*
data-IvB*
data-TVEDEV*
