Place you keystore .JKS file in this directory

See also data/source.environment for configuring:

KEY_FILE="appkeyAndroidAPS-keystore.jks"
KEY_ALIAS="appkeyAndroidAPS"
KEY_PASSW_FILE="ks-password"

Rename the data/keystore/ks-password.sample file to ks-password
and edit the first lines for defining keystore and key passwords.
